@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-primary: #0065b0;
  --color-secondary: #1e3f75;
  --color-tertiary: #0065b0;

  /* State Colors */
  --color-success: #16a34a;
  --color-success-50: #f0fdf4;
  --color-success-100: #dcfce7;
  --color-success-700: #15803d;

  --color-warning: #d97706;
  --color-warning-50: #fffbeb;
  --color-warning-700: #b45309;

  --color-info: #2563eb;
  --color-info-50: #eff6ff;
  --color-info-700: #1d4ed8;

  --color-error: #dc2626;
  --color-error-50: #fef2f2;
  --color-error-700: #b91c1c;

  /* Neutrals: Blacks & White */
  --color-black-pure: #000000;
  --color-black-dark: #1d1d1d;
  --color-black-light: #282828;
  --color-white: #ffffff;

  /* Neutrals: Greys */
  --color-grey-900: #333333;
  --color-grey-800: #4f4f4f;
  --color-grey-700: #828282;
  --color-grey-500: #9ca3af;
  --color-grey-400: #bdbdbd;
  --color-grey-200: #e0e0e0;
  --color-grey-100: #f2f4f7;
  --color-grey-50: #f8f9fa;

  /* Typography Fonts */
  --font-primary: var(--font-primary), "Montserrat", sans-serif;
  --font-secondary: var(--font-secondary), "Poppins", sans-serif;
}

/* Base Variables */
:root {
  --background: var(--color-white);
  --foreground: var(--color-grey-900);
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
